.submit-review {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 0%;
    background-color: rgba(194, 19, 19, 0.719);
    color: white;
    height: 6vh;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(19, 18, 18) 0px 0px 0px 3px;
    margin-top: 2%;

  }

  .submit-review:disabled {
    width: 90%;
    height: 100%;
    box-shadow: grey 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    background-color: white;
    color: grey;
    font-family: 'Roboto';
    height: 6vh;
    font-weight: bolder;
    cursor: default;
}

.submit-review:not(:disabled) {
  cursor: pointer;
}

  #submitReview {
    width: 90%;
    height: 20vh;
    background-color: rgb(212, 232, 245);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px, black 0px 0px 0px 2px;
    font-family: 'Sour Gummy';
    margin-top: -2%;
  }

.submitReviewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 2%;
  width: 100%;
  font-family: 'Sour Gummy';
  margin-left: -3.8%;
}

.review-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.rate-area {
  float:left;
  border-style: none;
}

.rate-area:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rate-area:not(:checked) > label {
  float: right;
  width: .80em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 25px;
  line-height: 32px;
  color: lightgrey;
  margin-bottom: -15%;
  margin-top: -16%;

}

.rate-area:not(:checked) > label:before {
  content: '★';
}

.rate-area > input:checked ~ label {
  color: black;
  text-shadow: none;
}

.rate-area:not(:checked) > label:hover,
.rate-area:not(:checked) > label:hover ~ label {
  color:  black;
  
}

.rate-area > input:checked + label:hover,
.rate-area > input:checked + label:hover ~ label,
.rate-area > input:checked ~ label:hover,
.rate-area > input:checked ~ label:hover ~ label,
.rate-area > label:hover ~ input:checked ~ label {
  color:  black;
  text-shadow: none;
  
}

.rate-area > label:active {
  position:relative;
  top:0px;
  left:0px; 
}
