.create-a-spot-input {
    width: 90%;
    background-color: rgb(212, 232, 245);
    height: 2.5vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px, rgb(51, 51, 51) 0px 0px 0px 1px;
    margin-left: 2px;
    border: solid black 2px;  
}

.create-a-spot-input-1 {
    width: 100%;
    background-color: rgb(212, 232, 245);
    height: 2.5vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px, rgb(51, 51, 51) 0px 0px 0px 1px;
    margin-left: 4px;
    border: solid black 2px;  
}
.creative-container {
    display: flex;
    width: 23vw;
    font-family: 'Sour Gummy'; 
}

.create-a-spot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

.create-a-spot-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25vw;
}

#describe {
    width: 90.5%;
    height: 20vh;
    background-color: rgb(212, 232, 245);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px, rgb(51, 51, 51) 0px 0px 0px 1px;
    font-family: 'Roboto';

}

.local-location-spot-input {
    background-color: rgb(212, 232, 245);
    height: 2.5vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px, rgb(51, 51, 51) 0px 0px 0px 1px;
    margin-top: 2px;
    border: solid black 2px;
    width: 97%;
}

.local-location-city-spot-input {
    background-color: rgb(212, 232, 245);
    height: 2.5vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px, rgb(51, 51, 51) 0px 0px 0px 1px;
    margin-top: 2px;
    border: solid black 2px;  
    width: 97%;
}
.geographic-container {
    display: flex;    
    justify-content: space-between;
    width: 90.5%;
    gap: 10px;
    margin-top: 10px;
    padding-bottom: 10%;
    border-bottom: solid black 2px;
}

.geographic-location-longitude-spot-input {
    background-color: rgb(212, 232, 245);
    height: 2.5vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px, rgb(51, 51, 51) 0px 0px 0px 1px;
    margin-top: 2px;
    border: solid black 2px;  
    width: 97%;
}

.geographic-location-spot-input {
    background-color: rgb(212, 232, 245);
    height: 2.5vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px, rgb(51, 51, 51) 0px 0px 0px 1px;
    margin-top: 2px;
    border: solid black 2px;
    width: 97%;
}


.local-container {
    display: flex;    
    justify-content: space-between;
    width: 90.5%;
    gap: 10px;
    margin-top: 10px;
    
}
.local-container div {
    width: 48%; 
}

label, .p {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold;
    font-family: "Sour Gummy";
}

.states {
    font-family: "Sour Gummy";
    width: 91.5%;
}

.states.error {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    margin-top: 1%;
    font-size: 15px;
}

.address {
    font-family: "Sour Gummy";
    width: 91.5%;
}

.address.error {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 20px;
    width: 96%;
    font-size: 15px;
}

.country {
    font-family: "Sour Gummy";
    width: 91.5%;
}

.country.error {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 20px;
    width: 96%;
    font-size: 15px;
}

.city {
    font-family: "Sour Gummy";
    width: 91.5%;
    margin-left: -2px;
}

.city.error {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 96%;
    font-size: 15px;
}

.longitude {
    font-family: "Sour Gummy";
    width: 91.5%;
}

.longitude.error {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 110%;
    font-size: 15px;
}

.latitude {
    font-family: "Sour Gummy";
    width: 91.5%;
}

.latitude.error {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 110%;
    font-size: 15px;
}
.guests {
    margin-bottom: -1%;
    font-family: "Sour Gummy";
    width: 23vw;
}

.guests2 {
    margin-bottom: -1%;
    font-family: "Sour Gummy";
    width: 23vw;
}
.features {
    font-family: "Sour Gummy";
    width: 23vw;
}

.new-tile-container {
    border-top: solid black 2px;
    margin-top: 7%;
    width: 23vw;
    border-radius: 3px;
}
.new-tile {
    display: flex;
    justify-content: flex-start;
    font-family: "Sour Gummy";
}

.new-tile2 {
    display: flex;
    justify-content: flex-start;
    font-family: "Sour Gummy";
    width: 23vw;
    margin-top: -2%;
}

.attention {
    display: flex;
    justify-content: flex-start;
    font-family: "Sour Gummy";
    margin-top: -11px;
    width: 23vw;    
}

.create-a-spot-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-left: 1%;
    border-radius: 0%;
    background-color: rgba(194, 19, 19, 0.719);
    color: white;
    height: fit-content;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(19, 18, 18) 0px 0px 0px 3px;

  }
  .create-a-spot-button:hover {
    cursor: pointer;
  }

  .login-button-container {
    width: 28vw;
  }

  .create-a-spot-text {
    font-family: "Sour Gummy";
    display: flex;
    justify-content: flex-start;
    width: 23vw;
    margin-bottom: -1px;
  }
