.Spots {
    width: 100%;
    height: 275px;
    border-radius: 10%;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.spot-mainPic {
  width: 45vw;  
  max-width: 50vw;  
  height: 66vh;
  border-top-left-radius: 2.5%;
  border-bottom-left-radius: 2.5%;
  margin-left: 11%;
  margin-bottom: 20px;
}

.first-image {
 width: 50vw;
 margin-top: 2%;
  
}

.spot-addPics2 {
  padding: 2.3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 21%;
  
}

.Spots:hover {
    cursor: pointer;
}
.picture-section {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 20px; 
  }

.picture-section2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
.spot-card {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    width: 100%; 
  }

.spot-card2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }

.spot-section {
    width: 23%; 
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
  }

  @media (max-width: 768px) {
    .spot-section {
      width: 48%;  
    }
  }
  
  
  @media (max-width: 480px) {
    .spot-section {
      width: 100%;  
    }
  }

.image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1px; 
  }

.spot-section2 {
    margin-top: 2.9%;
    position: relative;
    width: 20.15vw; 
    height: 32.1vh;
    margin-left: 2%; 
    margin-bottom: -1.5%;
    margin-right: -.6%;
}

@media (max-width: 1220px) {
  .spot-section2 {
    height: 32.2vh;
  }
}
@media (max-width: 1050px) {
  .spot-section2 {
    height: 32.3vh;
  }
}
@media (max-width: 858px) {
  .spot-section2 {
    height: 32.4vh;
  }
}
@media (max-width: 480px) {
  .spot-section2 {
    height: 32.5vh;
  }
}

.smaller-image {
    width: 18vw; 
    height: 100%;
    height: 100%;
}
 
.spot-details {
    margin-top: 10px; 
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
    width: 98%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
} 

.spot-price {
    width: 98%;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }

.spot-section2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
  }

  
  .reserve {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
    margin-left: 7.5%;
    border-radius: 0%;
    background-color: rgba(194, 19, 19, 0.719);
    color: white;
    height: 40px;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

  }
  .reserve:hover {
    cursor: pointer;
  }
  
  
  .root-details {
    max-width: 98vw;
    
  }
  
  .review-user {
    font-family: "Roboto", sans-serif;
  }
  
  .review-text {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
  
  .review-section {
    font-family: "Roboto", sans-serif;
    margin-left: 5%;   
  
}

.review-head {
  font-family: "Roboto", sans-serif;  
  margin-left: 5%;  
}

.review-button {
  font-family: "Roboto", sans-serif;  
  margin-left: 5.3%; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 0%;
  background-color: grey;
  color: white;
  height: 3vh;
  font-weight: bolder;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, black 0px 0px 0px 3px;
}

.detail-delete-button {
  font-family: "Roboto", sans-serif;  
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 8px;
  border-radius: 0%;
  background-color: grey;
  color: white;
  height: 3vh;
  font-weight: bolder;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, black 0px 0px 0px 3px;
}

.detail-edit-button {
  font-family: "Roboto", sans-serif;  
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 8px;
  border-radius: 0%;
  background-color: grey;
  color: white;
  height: 3vh;
  font-weight: bolder;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, black 0px 0px 0px 3px;
}

.detail-edit-button:hover {
  cursor: pointer;
}

.update-delete-button-container {
  display: flex;
  gap: 10px;
  width: fit-content;
  margin-left: 3.5px;
}

.detail-delete-button:hover {
  cursor: pointer;
}

.review-button:hover {
  cursor: pointer;
}

.section-2 {
  display: flex;
  justify-content: center;
}

.info-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 87vw;
  margin-right: 1%;
  border-bottom: solid black 2px;
}

.info-box {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;   
}

.button-box {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  border: solid black 3px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.spot-info {
  display: flex;
  justify-content: space-evenly;
  width: 21vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box-of-button {
  width: 21vw;
  padding-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


@media (max-width: 1260px) {
  .price {
    margin-bottom: -1.5%;
  }
  .spot-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 440px) {
  .manage-spots-button-container {
    margin-right: 12%;
  }
  .spot-card2 {
    display: none
  }
}

@media (max-width: 440px) {
  .button-box{
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-width: 440px) {
  .button-box-2{
    opacity: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    border: solid black 3px;
    border-radius: 10px;
    margin-top: 10px;
  }
  .spot-info-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reserve {
    width: 300px;
    margin-bottom: 20px;
    margin-left: -.1px;
  }
  .first-image3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .dots-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #717171;
  }
  .spot-card3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-spot-mainPic {
    border-radius: 12px;
    width: 95%;
    height: 275px;
  }
  
}

@media (min-width: 441px) {
  .button-box-2{
   display: none;
  }
  .first-image3 {
    display: none;
  }
  .spot-card3 {
    display: none;
  }
}

