.Spots {
    width: 100%;
    height: 275px;
    border-radius: 10%;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.spot-mainPic {
  width: 45vw;  
  max-width: 50vw;  
  height: 66vh;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
  margin-left: 11%;
  margin-bottom: 20px;
}

.first-image {
 width: 50vw;
 margin-top: 2%;
  
}
.spot-addPics2 {
  padding: 2.3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 21%;
  
}

.Spots:hover {
    cursor: pointer;
}
.picture-section {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 20px; 
  }

.picture-section2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
.spot-card {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    width: 100%; 
  }

.spot-card2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }

.spot-section {
    width: 23%; 
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
  }

.image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1px; 
  }

.spot-section2 {
    margin-top: 2.7%;
    position: relative;
    width: 20vw; 
    margin-bottom: .5%; 
    height: 31.1vh;
    margin-left: 2%;
    
  }
.smaller-image {
    width: 18vw; 
    height: 100%;
    height: 100%;
  }
 
.spot-details {
    margin-top: 10px; 
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
    width: 98%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  } 

.spot-price {
    width: 98%;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }

.spot-section2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
  }

.spot-info {
    border-top: solid black  3px;
    border-left: solid black 3px;
    border-right: solid black 3px;
    display: flex;
    justify-content: space-evenly;
    width: 21vw;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  
  }

.reserve {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
    margin-left: 7.5%;
    border-radius: 0%;
    background-color: rgba(194, 19, 19, 0.719);
    color: white;
    height: 40px;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

  }
  .reserve:hover {
    cursor: pointer;
  }

.info-box {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    max-width: 85vw;;
    margin-left: 5.3%;     
  }
.button-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: solid black 2px;
  font-family: "Roboto", sans-serif;
  max-width: 85vw;
  margin-left: 5.3%;      
  
}

.box-of-button {
  border-bottom: solid black  3px;
  border-left: solid black 3px;
  border-right: solid black 3px;
  width: 21vw;
  padding-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.root-details {
  max-width: 98vw;
  
}

.review-user {
  font-family: "Roboto", sans-serif;
}

.review-text {
  font-family: "Roboto", sans-serif;
}

.review-section {
  font-family: "Roboto", sans-serif;
  margin-left: 5%;   
  
}

.review-head {
  font-family: "Roboto", sans-serif;  
  margin-left: 5%;  
}

.review-button {
  font-family: "Roboto", sans-serif;  
  margin-left: 5.3%; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 0%;
  background-color: grey;
  color: white;
  height: 3vh;
  font-weight: bolder;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, black 0px 0px 0px 3px;
}

.detail-delete-button {
  font-family: "Roboto", sans-serif;  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  border-radius: 0%;
  background-color: grey;
  color: white;
  height: 3vh;
  font-weight: bolder;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, black 0px 0px 0px 3px;
}

.detail-delete-button:hover {
  cursor: pointer;
}


.review-button:hover {
  cursor: pointer;
}

